html
    head
        title Jade Template
               

    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span E-RECEIPT

        main(style="padding: 25px")
            h5 RECEIVED BY:
            h2 LAKE COMMUNITY CABLE TV MULTIPURPOSE COOPERATIVE
            span(style="font-weight:bold; font-size:15px; padding-left:20px") ADDRESS: 
            span Lina Bldg, Brgy.V-B Rizal Avenue Cor. Apolinario Mabini St San Pablo City, 4000 Laguna, Philippines
            br
            span(style="font-weight:bold; font-size:15px; padding-left:20px") CONTACT NUMBER: 
            span 0995 381 7833
            br
            span(style="font-weight:bold; font-size:15px; padding-left:20px") EMAIL ADDRESS: 
            span lakecommunitycabletv@gmail.com
            br
            hr
            h5 RECEIVED FROM:
            h2 UMALI, CHARLES EDWARD A. 
            span(style="color:red;font-size:20px; padding-left:20px;") ACCOUNT NUMBER: 
            span(style="font-size:20px;") 0939302011369
            br
            hr
            h5 PAYMENT METHOD:
            h3(style="padding-left:20px;") G-CASH
            br
            
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span IN SETTLEMENT OF THE FOLLOWING:

        main(style="padding: 25px")
           
            <table style="width:50%;text-align:center;">
                <tr style="background-color:#14274e; color:white;">
                    <th>CODE</th>
                    <th>DESCRIPTION</th>
                    <th>AMOUNT</th>
                     
                </tr>
                <tr>
                    <td>001</td>
                    <td>Adam</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>rahul</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>john</td>
                    <td>80</td>
                </tr>
            </table>

        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


