html
    head
        title Jade Template
               

    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span Lake Community Cable TV

        main(style="padding: 25px")
            h1 #{ref_number}
            p Hi #{name.firstName} #{name.lastName},
            span Thank you for applying to Lake Community Cable TV, your reference number is #{ref_number}.You can use this to our website to check your progress. Click on 
            a(href='https://lakecommunity.tech/applications') (lakecommunity.tech)
    
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span 3 SIMPLE STEPS THAT YOU NEED TO DO, FOR YOU TO BE CONNECTED WITH US

        main(style="padding: 25px")
            span 1. Wait for the approval email within 24 hours of this email. You can also visit our website 
            a(href='https://lakecommunity.tech/applications') (lakecommunity.tech)
            span to verify your approval status.
            br
            span 2. Pay to our selected payment partners or you can just visit us in our company or click on our website for more Information   
            a(href='https://lakecommunity.tech/payment') (LCCTV)
            br
            span(style ="color:red; font-weight:bold; font-style:italic;padding-left:25px;") if you pay through online kindly send your proof of payment to our email  
            span lakecoop.finance@gmail.com
            p 3. Wait for the activation of your account.
    
        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


