html
    head
        title Jade Template
               

    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span INVOICE

        main(style="padding: 25px")
            p(style="font-size:20px;font-weight:bold;") DEAR SUBSCRIBER,

            p(style="font-size:15px;padding:padding-left:50px;") This is a gentle reminder to settle your payment. Amounting to (₱ 9090). 
            P Your overdue balance is now (₱ 18181.94). Kindly settle immediately to avoid penalty.
            
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span YOU COULD SETTLE YOUR SETTLE YOUR BALANCE THROUGH THE FOLLOWING PAYMENT OPTIONS:
        main(style="padding: 25px")

            p 

            span(style="font-size:20px; font-weight:bold;") Option 1. 
            span Visit our office at Lina Bldg, Brgy.V-B Rizal Avenue Cor. Apolinario Mabini St San Pablo City, 4000 Laguna, Philippines
            br
            span(style="font-size:20px; font-weight:bold;") Option 2. 
            span Pay Online. 
            span(style="font-style:italic; color:red;") Please send to our email lakecoop.finance@gmail.com the proof of payment. Kindly include your account number.
            br
            span(style="font-size:20px; font-weight:bold;") For further information regarding payment online, click on 
            a(href='https://lakecommunity.tech/payment') lakecommunity.tech

            p Should you have further clarification regarding your account, you may email lakecommunitycabletv@gmail.com 
            p Kindly indicate as email subject "Account Inquiry - [Account Number]".
            hr

            p(style="font-style:italic; color:red;font-weight:bold;") *NOTE: Please disregard this message if payment has been made.
            hr
            br
            

        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


