html
    head
        title Jade Template
               

    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span INQUIRY

        main(style="padding: 25px")
            p(style="font-size:20px;font-weight:bold;") DEAR SUBSCRIBER,

            p REPLY
            
            

        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


