html
    head
        title Jade Template
               
    body
        header(style="background-color: #14274e; padding: 10px; color: white; border-bottom: 2px #f0b917 solid")
            span Lake Community Cable TV

        main(style="padding: 25px")
            p Hi #{name.firstName} #{name.lastName},
            p Thank you for creating an account at Lake Community Cable TV, we will send you another email concerning your application details. Have a nice day!

        footer(style="background-color: gray; color: white; padding: 10px 5px; text-align: center")
            span LCCTV


